@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
} 
:root{
    --primary-color:rgb(165 243 252);
    --darkgrey-color:var(--darkgrey-color);
}

/* containers */
.containers { 
    padding: 0rem 1rem;
}

/* links */
.link{
     text-decoration: none;
     margin: auto;
}
.link-primary{
    background-color: rgb(136 19 553);
    border-radius: 2rem;
    color: whitesmoke;
    font-weight: normal;
}
.link-secondary {
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);

}
/* list */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/* Nav */
.navigation{
    background-color: var(--primary-color);
    color: rgb(2 44 34);
    padding: 1rem;  
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius:1rem;
}

.navigation .nav-brand{
     font-weight:  bold;
     color: darkblue;
     font-size:x-large;
} 
    
.navigation .nav-pills {
    text-align: right;
    font-size: large;
}

.navigation .link{
    color: rgb(37, 9, 219);
}

.navigation .link-active{
    font-weight: bold;
}

/** header **/
.photo{
    padding: 1rem;
    
}

.photo .photo-img{
    max-width: 500px;
    display:flex;
    margin: auto;
}

header h3{
    text-align:  center;
    background-color: lightpink;
}
.photo .photo-heading{
    text-align: center;
    padding-top: 1rem;
    color: black;
}
.photo .photo-heading .heading {
    color: darkslateblue; 
    
}

h3{
    text-align:  center;
    font-weight:  bold;
}

h4{
    text-align:  center;
    font-weight:  bold;
}

h1{
    text-align:  center;
    font-weight:  bold;

}

p{
    font-family: 'Poppins', sans-serif;
    text-align:  center;
    font-weight:  normal;
}

/** section **/

.section{
    text-align: center;
    padding: 1rem;
     
}

ul {
    list-style-type: disc; 
    text-align:justify;
    padding-left: 20px;
    margin-bottom: 10px; 
    margin-top: 10px;  
}
   

.section h3 {
    text-align: center;
    padding: 1rem; 

}

.ow{
    text-align: center;
    background-color:lightpink;
    margin-bottom: 20px;
}


/**footer**/

.footer{
    background-color:var(--primary-color);
    padding: 1rem 1rem;
    margin-top: 20px;
    text-align:  center;
    color: rgb(38, 6, 243);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: darkslateblue;
    font-weight:  bold;
}

.footer .footer-header{
    font-weight: bold;
    font-size:large;
    color: darkblue;
    font-family: 'Poppins', sans-serif; 
}

.footer ul{
    padding-inline-start: 6px;
}

